# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
